# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Debug binary, built with `dlv debug`
__debug_bin

# App binary
podlighter

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work
