<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="/static/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="/assets/css/main.css" rel="stylesheet">
		{{template "head" .}}
	</head>
	<body class="min-vh-100 d-flex flex-column">
		{{template "body" .}}
		<footer class="footer py-3 border-top">
			<p class="text-center text-muted">&copy; 2022 Desotech</p>
		</footer>
		<script src="/static/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
		{{template "scripts"}}
	</body>
</html>
